* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(221, 220, 220);
}

header {
    width: 100%;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 5;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    box-shadow: 0 0 10px rgb(199, 198, 198);
}

nav .logo {
    margin-left: 200px;
    letter-spacing: 10px;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

nav .logo a {
    text-decoration: none;
    color: gray;
    font-size: 1.5rem;
}

nav .logo i {
    font-size: 1.5rem;
}

nav .navigation a:active {
    color: red;
}

nav .navigation ul {
    display: flex;
    gap: 50px;
}

nav .navigation ul li {
    list-style: none;
}

nav .navigation ul li a {
    position: relative;
    text-decoration: none;
    font-family: "Poppins";
    color: rgb(71, 71, 71);
    font-size: 18px;
    transition: 0.3s;
    padding: 0 5px;
}

nav .navigation ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #2a2a2b;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

nav .navigation ul li a:hover::after{
    width: 100%;
}

nav .navigation ul li a:hover {
    color: rgb(26, 24, 24);
    text-shadow: 0 0 10px rgb(206, 206, 206);
}

nav .nav-btns {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-right: 100px;
    font-size: 1.5rem;
    cursor: pointer;
}

.hero-image {
    width: 90%;
    margin: 0 auto;
    height: 70vh;
    background-image: url(https://images.unsplash.com/photo-1619344730659-430b7e73722c?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-black {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-gray {
    width: 80%;
    margin: 50px auto;
    height: 200px;
    background-color: rgba(184, 184, 184, 0.4);
}

.bold-text {
    right: 50px;
    bottom: -10px;
    font-size: 7.8em;
    z-index: 1;
    color: gray;
}

.position-absolute {
    position: absolute;
}

.position-relative {
    position: relative;
}

.discount-coupon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 250px;
    margin-left: 50px;
}

.discount-detail {
    position: relative;
    z-index: 2;
}

.discount-detail h2 {
    font-size: 3rem;
    font-weight: bold;
}

.discount-detail p {
    font-size: 1.2rem;
    color: rgb(73, 73, 73);
}

.discount-btn {
    position: relative;
    z-index: 2;
}

.discount-btn button {
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: transparent;
    backdrop-filter: blur(3px);
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    outline: none;
}

.discount-btn button:hover {
    background-color: rgb(221, 220, 220);
}

.popular-collection {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.popular-collection h2 {
    margin-top: 100px;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.display-item {
    display: flex;
    margin: 50px auto;
    width: min(1000px, 100%);
    columns: 3 300px;
    column-gap: 1.2em;
}

.left-images {
    width: 600px;
}

.left-images img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: zoom-in;
}

.left-images img:hover {
    transform: scale(1.03);
}

.middle-images {
    width: 600px;
}

.middle-images img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: zoom-in;
}

.middle-images img:hover {
    transform: scale(1.03);
}

.right-images {
    width: 600px;
}

.right-images img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: zoom-in;
}

.right-images img:hover {
    transform: scale(1.03);
}

/* Latest product */

.latest-products h2{
    margin-top: 120px;
    margin-left: 220px;
    font-size: 1.8rem;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.items {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 55px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.item {
    background-image: linear-gradient(rgb(189, 187, 187), white);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 350px;
    box-shadow: 1px 1px 10px rgb(167, 164, 164);
    border-radius: 3px;
    padding: 16px;
    overflow: hidden;
    transition: 0.4s;
    cursor: pointer;
}

.item:hover{
    transform: translateY(-4px);
}

.product-image {
    overflow: hidden;
    height: 300px;
    transition: 0.4s;
}

.product-image img {
    width: 100%;
    border-radius: 3px;
    cursor: zoom-in;
    background-position: center;
    object-fit: cover;
    transition: 0.3s;
    position: relative;
}

.product-image img:hover {
    transform: scale(1.1);
    rotate: 2deg;
}

.line-through{
    text-decoration: line-through;
    margin-right: 4px;
}

.old-price{
    color: gray;
    font-size: 1rem;
}

.new-price{
    color: red;
    font-size: 1.05rem;
    font-weight: bold;
}

.price-discount{
    font-size: 0.8rem;
}

.product-rating{
    color: rgb(255, 145, 0);
    font-size: 1rem;
    font-weight: 500;
}

.product-btn{
    margin-top: 10px;
}

.product-btn .buy-now{
    padding: 5px 10px; 
}

.product-btn .add-to-cart{
    margin-left: 10px;
    font-size: 1.3rem;
}

.product-btn .favorite{
    margin-left: 5px;
    font-size: 1.3rem;
}

/* .product-btn a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #2a2a2b;
    font-size: 18px;
    height: 34px;
    width: 34px;
    margin: 0 8px;
    border-radius: 50%;
    transition: 0.3s;
} */


/* FOOTER */

.footer {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.top {
    display: flex;
    gap: 130px;
    margin-left: 170px;
}

.top h1 {
    color: #3f3f3f;
}

.top .quick-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.top .quick-links a {
    text-decoration: none;
    color: #3f3f3f;
    transition: 0.3s;
}

.top .quick-links a:hover {
    color: #3f3f3f;
}

.social-icons {
    display: flex;
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: #2a2a2b;
    font-size: 18px;
    height: 34px;
    width: 34px;
    margin: 0 8px;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons a:hover {
    background-color: #363636;
}

.hr {
    display: flex;
    margin: 20px auto;
    width: 80%;
    border: 1px solid rgb(56, 56, 56);
}

.bottom {
    margin-top: 10px;
    color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
}